*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
  color: #333;
}

.container {
  width: 90vw;
  margin: 0 auto;
  max-width: 1200px;
}

ul {
  list-style: none;
}

h2 {
  color: #fff;
}

.btn {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  background: #2f9e44;
  padding: 1.4rem 2rem;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s linear;
}

.btn:hover {
  /* background: #37b24d; */
  background: transparent;
  outline: 1px solid #2f9e44;
  color: #216f30;
}

/* =============
Pricing Section 
================
*/

.pricing-section {
  background-color: #1a1f16;
  height: 100vh;

  display: grid;
  place-content: center;
}

.section-title {
  grid-column: 1/-1;
  margin-bottom: 4rem;
}

.section-title p {
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #2f9e44;
}

.pricing-container {
  display: grid;
  grid-template-columns: 30rem 30rem;
  place-content: center;
  column-gap: 5rem;
}

.pricing-card {
  background-color: #fff;
  text-align: center;
  padding: 6rem 3rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  width: 30rem;
  transition: all 0.2s linear;
}

.pricing-card:hover {
  transform: scale(1.02);
}

.special-card {
  background: #b2f2bb;
  position: relative;
  overflow: hidden;
}

.special-card::before {
  content: "Best Value";
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.5rem;
  text-transform: uppercase;

  display: block;
  width: 100%;
  background-color: #bf6900;
  position: absolute;
  top: 2rem;
  right: -12rem;
  transform: rotate(45deg);
  color: #fff;
}

.pricing-title {
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #2f9e44;
}

.pricing-price {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.pricing-price span {
  font-size: 2.8rem;
  color: #000;
}

.pricing-card p:nth-child(3) {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  margin-bottom: 3rem;
}

.pricing-list {
  text-align: left;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-icon {
  color: #2f9e44;
  margin-right: 0.5rem;
}

/* Media Queries */

@media screen and (max-width: 760px) {
  html {
    font-size: 56%;
  }

  .pricing-section {
    height: auto;
    padding: 3rem 0;
  }

  .section-title {
    margin-bottom: 0rem;
  }

  .pricing-container {
    grid-template-columns: 30rem;
    gap: 3rem 0rem;
  }
}
